theme: jekyll-theme-chirpy
lang: en
timezone: America/New_York
title: nano11b # the main title
tagline: just another techie... # it will display as the subtitle
description: >- # used by seo meta and the atom feed
  My blog is a personal space where technology, gaming, and real-life experience collide. I share thoughts on multiplayer gaming culture, IT and cloud computing, open-source projects, and lessons shaped by military service—along with stories, opinions, and ideas that keep things real, honest, and unapologetically me.
url: "https://blog.nano11bravo.com" # the base hostname & protocol for your site
github:
  username: nano11b # change to your GitHub username
twitter:
  username: nano11bravo # change to your Twitter username
social:
  name: nano11b
  email: hello@nano11bravo.com # change to your email address
  links:
    - https://twitter.com/nano11bravo # change to your Twitter homepage
    - https://github.com/nano11b # change to your GitHub homepage
webmaster_verifications:
  google: # fill in your Google verification code
  bing: # fill in your Bing verification code
  alexa: # fill in your Alexa verification code
  yandex: # fill in your Yandex verification code
  baidu: # fill in your Baidu verification code
  facebook: # fill in your Facebook verification code
analytics:
  google:
    id: # fill in your Google Analytics ID
  goatcounter:
    id: # fill in your GoatCounter ID
  umami:
    id: # fill in your Umami ID
    domain: # fill in your Umami domain
  matomo:
    id: # fill in your Matomo ID
    domain: # fill in your Matomo domain
  cloudflare:
    id: # fill in your Cloudflare Web Analytics token
  fathom:
    id: # fill in your Fathom Site ID
pageviews:
  provider: # now only supports 'goatcounter'
theme_mode: # [light | dark]
cdn: https://nanoblog-cdn.netlify.app
avatar: /nano11bravo.png
social_preview_image: # string, local or CORS resources
toc: true
comments:
  provider: # [disqus | utterances | giscus]
  disqus:
    shortname: # fill with the Disqus shortname. › https://help.disqus.com/en/articles/1717111-what-s-a-shortname
  utterances:
    repo: # <gh-username>/<repo>
    issue_term: # < url | pathname | title | ...>
  giscus:
    repo: # <gh-username>/<repo>
    repo_id:
    category:
    category_id:
    mapping: # optional, default to 'pathname'
    strict: # optional, default to '0'
    input_position: # optional, default to 'bottom'
    lang: # optional, default to the value of `site.lang`
    reactions_enabled: # optional, default to the value of `1`
assets:
  self_host:
    enabled: # boolean, keep empty means false
    env: # [development | production]
pwa:
  enabled: true # The option for PWA feature (installable)
  cache:
    enabled: true # The option for PWA offline cache
    deny_paths:
paginate: 10
baseurl: ""
kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts: # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: highlight
    # default_lang: console
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1
collections:
  tabs:
    output: true
    sort_by: order
defaults:
  - scope:
      path: "" # An empty string here means all files in the project
      type: posts
    values:
      layout: post
      comments: true # Enable comments in posts.
      toc: true # Display TOC column in posts.
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs # see `site.collections`
    values:
      layout: page
      permalink: /:title/
sass:
  style: compressed
compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]
exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"
jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
